@font-face {
  font-family: "iconfont"; /* Project id 3907295 */
  src: url('iconfont.woff2?t=1676949908910') format('woff2'),
       url('iconfont.woff?t=1676949908910') format('woff'),
       url('iconfont.ttf?t=1676949908910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e615";
}

.icon-dianhua:before {
  content: "\e62f";
}

.icon-youjian:before {
  content: "\e616";
}

